body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url (e:\Full Stack Web Developer\Section 9 How to Built Startup Landing Page\44.project\header.jpg)at-rule or selector expected; 
  -webkit-background-size; cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn{
  font-weight: 700;
  border: radius 200px;
}

h1 {
	font-size: 3rem;
	color: #607d93
}